ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  vertical-align: middle;
}
.bigbox {
  width: 100%;
}
.bigbox .header-top {
  background: #353535;
}
.bigbox .header-top p {
  color: #909090;
  font-size: 13px;
  line-height: 23px;
  margin-top: 12px;
  float: right;
}
.bigbox .header-top .right-info {
  float: right;
  line-height: 23px;
  margin-top: 3px;
}
.bigbox .header-top .right-info ul {
  float: left;
  line-height: 38px;
}
.bigbox .header-top .right-info ul li {
  float: left;
  margin-left: 30px;
}
.bigbox .header-top .right-info ul li a {
  font-size: 13px;
  text-transform: uppercase;
  color: #909090;
}
.bigbox .header-top .right-info .header-info {
  float: left;
}
.bigbox .header-top .right-info .header-info li {
  margin-left: 20px;
}
.bigbox .header-top .right-info .header-info li a {
  color: white;
  font-size: 16px;
}
.bigbox .header-bottom {
  background: #fff;
}
.bigbox .header-bottom .navbar-default {
  background: #fff;
  border: none;
}
.bigbox .header-bottom .navbar-default .navbar-nav {
  margin-left: 150px;
}
.bigbox .header-bottom .navbar-default .navbar-nav .active a {
  color: #9e1616;
  background-color: #fff;
}
.bigbox .header-bottom .navbar-default .navbar-nav li a {
  font-size: 17px;
  font-family: "Francois One", sans-serif;
  border-right: 1px solid #efefef;
  padding: 2.1em;
}
.bigbox .header-bottom .navbar-default .navbar-nav li a:hover {
  color: #9e1616;
}
.bigbox .header-bottom .navbar-default .navbar-nav .dropdown .dropdown-toggle {
  background: none;
}
.bigbox .header-bottom .navbar-default .navbar-nav .dropdown .dropdown-menu {
  border: none;
}
.bigbox .header-bottom .navbar-default .navbar-nav .dropdown .dropdown-menu li {
  text-align: center;
  margin-left: 40px;
  text-align: left;
}
.bigbox .header-bottom .navbar-default .navbar-nav .dropdown .dropdown-menu li a {
  padding: 0;
  color: #353535;
  font-size: 14px;
  line-height: 30px;
  font-family: "Francois One", sans-serif;
}
.bigbox .header-bottom .navbar-default .navbar-nav .dropdown .dropdown-menu li a:hover {
  color: #9e1616;
}
.bigbox .logo {
  position: absolute;
  top: 0;
  width: 170px;
  z-index: 999;
}
.bigbox .logo img {
  vertical-align: middle;
}
.banner .carousel .carousel-indicators {
  bottom: 76px;
}
.banner .carousel-inner .item .carousel-caption {
  margin-bottom: 95px;
}
.banner .carousel-inner .item .carousel-caption h3 {
  font-size: 32px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.banner .carousel-inner .item .carousel-caption p {
  color: #e8e8e8;
  font-size: 14px;
  margin: 1em 0 0 0;
}
.banner .carousel-inner .item .carousel-caption .aniv {
  margin: 7em 0 0 0;
}
.banner .carousel-inner .item .carousel-caption .aniv a {
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  padding: 0.5em 3em;
  text-decoration: none;
  letter-spacing: 1px;
}
.banner .carousel-inner .item .carousel-caption .aniv a:hover {
  background-color: #9e1616;
  transition: all 3s;
}
.banner-bottom {
  margin-top: -66px;
}
.banner-bottom .bottom-left {
  background: url(../images/5.jpg) no-repeat 0px 0px;
  background-size: cover;
  padding: 2em;
}
.banner-bottom .bottom-right {
  background: url(../images/4.jpg) no-repeat 0px 0px #D2D4D4 !important;
  background-size: cover;
  padding: 2em;
}
.banner-bottom .left-border {
  border: 5px solid #fff;
  height: 200px;
}
.banner-bottom .left-border .left-border-info {
  position: absolute;
  top: 22%;
  left: 16%;
  width: 31%;
}
.banner-bottom .left-border .left-border-info p {
  color: #fff;
  font-size: 26px;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}
.information {
  padding: 6em 0 4em 0;
}
.information .information-header {
  text-align: center;
}
.information .information-header h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: monospace;
  font-size: 48px;
  color: #343434;
}
.information .information-header p {
  font-size: 16px;
  margin: 2em auto 0;
  width: 80%;
  line-height: 1.8em;
  color: #4a4a4a;
}
.information .information-bottom {
  margin: 5em 0 0 0;
}
.information .information-bottom .information-info {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.information .information-bottom .information-info .information-grid-img img {
  width: 100%;
}
.information .information-bottom .information-info .information-grid-info {
  padding: 2em;
  background: #fff;
}
.information .information-bottom .information-info .information-grid-info h4 {
  color: #9e1616;
  font-size: 1.6em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.information .information-bottom .information-info .information-grid-info p {
  font-size: 14px;
  color: #777;
  margin: 1em 0 0 0;
  line-height: 1.8em;
}
.popular {
  padding: 4em 0;
  background: #37767A;
  position: relative;
}
.popular .popular-header {
  text-align: center;
}
.popular .popular-header h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: monospace;
  font-size: 48px;
}
.popular .popular-header p {
  font-size: 16px;
  margin: 2em auto 0;
  width: 80%;
  line-height: 1.8em;
  color: #fff;
}
.popular .popular-slide {
  margin: 4em 0 0 0;
}
.popular .popular-slide .carousel-indicators {
  bottom: -60px;
}
.popular .popular-slide .carousel-indicators .active {
  width: 12px;
  height: 12px;
}
.popular .popular-slide .carousel-indicators li {
  background: #25575a;
  border: none;
  margin-left: 10px;
  width: 5px;
  height: 5px;
}
.popular .popular-slide .carousel-inner .item .carousel-caption {
  padding-bottom: 112px;
}
.popular .popular-slide .carousel-inner .item .carousel-caption h4 {
  color: #fff;
  font-size: 6em;
  padding: 1em 0 0 0;
  text-transform: uppercase;
  font-weight: 300;
  font-family: serif;
  letter-spacing: 3px;
}
.popular .popular-slide .carousel-inner .item .carousel-caption p {
  font-size: 15px;
  color: #fff;
  margin: 1em auto 0;
  line-height: 1.8em;
  width: 90%;
}
.popular .popular-grid {
  margin: 5em 0 0 0;
}
.popular .popular-grid h5 {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
}
.popular .popular-grid p {
  font-size: 15px;
  color: #133031;
  line-height: 1.8em;
  margin: 2em 0 0 0;
}
.footer {
  padding: 4em 0;
}
.footer h4 {
  FONT-VARIANT: JIS78;
  color: #9e1616;
  font-size: 32px;
  font-family: serif;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul li {
  display: block;
  margin: 1em 0;
}
.footer ul li a {
  color: #353535;
  font-size: 13px;
  text-decoration: none;
}
.footer ul li a:hover {
  color: #9e1616;
}
.footer p {
  font-size: 15px;
  color: #353535;
  margin: 0;
  line-height: 1.8em;
}
.footer form {
  margin: 1em 0 0 0;
}
.footer form input[type="email"] {
  background: #fff;
  box-shadow: none;
  padding: 10px 23px;
  color: #282828;
  font-size: 15px;
  width: 100%;
  font-weight: 400;
  border: 1px solid #ebebeb;
  margin: 0 0 1em 0;
}
.footer form input[type="submit"] {
  border: 2px solid #353535;
  color: #353535;
  font-size: 15px;
  padding: 0.5em 2em;
  text-decoration: none;
  letter-spacing: 1px;
  background: none;
}
.footer form input[type="submit"]:hover {
  color: #9e1616;
  border: 2px solid #9e1616;
}
.footer .news-grids h6 {
  color: #37767a;
  font-size: 15px;
  margin: 0 0 1.5em 0;
}
.footer .news-grids h6 a {
  color: #353535;
  text-decoration: none;
}
.footer .news-grids h6 a:hover {
  color: #9e1616;
}
/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
  .banner .carousel .carousel-indicators {
    bottom: 0px;
  }
  .banner .carousel-inner .item .carousel-caption {
    margin-bottom: 0px;
  }
  .banner .carousel-inner .item .carousel-caption h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 200;
  }
  .banner .carousel-inner .item .carousel-caption p {
    margin: 8px;
    font-size: 14px;
  }
  .banner .carousel-inner .item .carousel-caption .aniv {
    margin: 0px;
  }
  .banner .carousel-inner .item .carousel-caption .aniv a {
    font-size: 14px;
    padding: 0.5em 3em;
  }
  .banner-bottom {
    margin-top: 0px;
  }
  .banner-bottom .left-border .left-border-info p {
    font-size: 21px;
  }
  .popular .popular-header h3 {
    font-size: 40px;
  }
  .col-xs-12 {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 40px;
  }
}
/*# sourceMappingURL=./shouye.css.map */